# Server configuration
PORT=8080
SERVERHOST=127.0.0.1
WS_LOG_LEVEL=debug
WS_LOG_INTERVAL=120
LOCAL_TEMP_DIR=./temp/

# Whisper configuration
WHISPER_MODEL=base
WHISPER_LANGUAGE=en
WHISPER_TASK=transcribe
WHISPER_CHUNK_SIZE=4000
WHISPER_BINARY_PATH=whisper

# OpenAI API configuration
USE_OPENAI_API=false
OPENAI_API_KEY=your_openai_api_key_here
OPENAI_MODEL=whisper-1
